.THIS .status-available .status-color{
	fill:lime !important;
}

.THIS .status-color{
	fill:red !important;
}

.THIS .player-card{
    padding-top:2em !important;
    padding-bottom:2em !important;
    margin-bottom:1em!important;
    background: -moz-linear-gradient(89deg, rgba(84,105,141,1) 0%, rgba(153,190,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,190,255,1)), color-stop(100%, rgba(84,105,141,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(89deg, rgba(84,105,141,1) 0%, rgba(153,190,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(89deg, rgba(84,105,141,1) 0%, rgba(153,190,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(89deg, rgba(84,105,141,1) 0%, rgba(153,190,255,1) 100%); /* ie10+ */
    background: linear-gradient(1deg, rgba(84,105,141,1) 0%, rgba(153,190,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99BEFF', endColorstr='#54698d',GradientType=0 ); /* ie6-9 */
    color:white;
}