/**
 * Created by lievenj on 2/28/2019.
 */
.player-card{
    padding-top:2em !important;
    padding-bottom:2em !important;
    margin-bottom:3px !important;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#992727+47,5e1818+100 */
    background: #992727; /* Old browsers */
    background: -moz-linear-gradient(top,  #992727 47%, #5e1818 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #992727 47%,#5e1818 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #992727 47%,#5e1818 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992727', endColorstr='#5e1818',GradientType=0 ); /* IE6-9 */

    color:white;
}