.THIS.ChessBoardLocation {
    width:12.5%;
    position: relative;
    display:inline-block;
}

.THIS.ChessBoardLocation:before {
    content: "";
	display:block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.THIS.white {
     background-color:white;
   color:black;
}

.THIS.black {
    background-color:brown;
    color:white;
}

.THIS .content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.THIS.targeted{
  background-color:orange !important;
  
}
.THIS.selected{
  background-color:lime !important;
  
}

.THIS .WhitePawn{
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackPawn{
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .WhiteKnight{
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackKnight{
    background: url(https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .WhiteBishop{
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackBishop{
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .WhiteRook{
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackRook{
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .WhiteQueen{
    background: url(https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackQueen{
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .WhiteKing{
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg) no-repeat top left;
  background-size: contain;
}

.THIS .BlackKing{
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg) no-repeat top left;
  background-size: contain;
}